{% for post in posts %}
  <div class="post post-{{ post.post_type }}">
    <div class="post-picture">
      <img src="{{post.thumbnail.src}}" class="feature" />
    </div>
    <div class="post-content">
      <h3><a href="{{post.link}}">{{ post.title }}</a></h3>
      {{post.content|excerpt(30)}}
    </div>
  </div>
{% endfor %}
{% include 'pagination.twig' %}