{% extends 'layout.twig' %}

{% block feature %}
  <div class="feature">
    {{ shortcode('[post_by_cat post_type="gallery" per_page=1 tax="catgallery" terms="slideshow"]') }}
  </div>
{% endblock %}

{% block content %}
  <div class="block-cat block-best-cars">
    <h2 class="block-title">Sản phẩm bán chạy</h2>
    <div class="block-content">
      {{ shortcode('[best_post post_type="cars" per_page=8]') }}
    </div>
  </div>
  
  {% for term in get_term_name('jaguar', 'catcar') %}
  <div class="block-cat block-{{ term.slug }}">
    <h2 class="block-title term-{{ term.slug }}"><a href="{{ term.link }}">{{ term.name }}</a></h2>
  {% endfor %}
    <div class="block-content">
      {{ shortcode('[post_by_cat post_type="cars" per_page=8 tax="catcar" terms="jaguar"]') }}
    </div>
  </div>
  
  {% for term in get_term_name('landrover', 'catcar') %}
  <div class="block-cat block-{{ term.slug }}">
    <h2 class="block-title term-{{ term.slug }}"><a href="{{ term.link }}">{{ term.name }}</a></h2>
  {% endfor %}
    <div class="block-content">
      {{ shortcode('[post_by_cat post_type="cars" per_page=8 tax="catcar" terms="landrover"]') }}
    </div>
  </div>
{% endblock %}
