{% block content %}
  <div class="post single-post-{{ post.post_type }} clearfix">
    <div class="post-car-gallery">
      <div class="main-slick">
        {% for image in post.get_field('car_gallery') %}
          <div class="mainslick-item">
            <a class="car-colorbox" href="{{ TimberImage(image) }}"><img src="{{ TimberImage(image) }}" /></a>
          </div>
        {% endfor %}
      </div>
      <div class="sub-slick">
        {% for image in post.get_field('car_gallery') %}
          <div class="subslick-item">
            <div style="background-image: url('{{ TimberImage(image) }}');" class="item-inner">
              <img src="{{ TimberImage(image) }}" />
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="post-car-header">
      <h3 class="car-title"><a href="{{post.link}}">{{ post.title }}</a></h3>
      {% if post.car_price %}
        <div class="car-price">
          <label>Giá: </label><span class="car-price-total">{{ post.car_price }}</span> <span class="car-price-currency">{{ currency_choices }}</span>
        </div>
      {% else %}
        <div class="car-price"><label>Giá: </label><span class="car-price-total">Liên hệ</span></div>
      {% endif %}
      {% if post.car_contact %}
        <div class="car-contact">
          <label>Liên hệ: </label>
          <div class="car-contact-inner">
            <div class="car-name">{{ post.car_contact }}</div>
            <div class="car-phone">{{ post.car_phone }}</div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="post-car-info">
      <h3 class="post-car-info--title">Mô tả sản phẩm</h3>
      <div class="post-car-info--content">
        {% if post.get_field('car_info') %}
          {% for caritem in post.get_field('car_info') %}
            <div class="car-item car-year"><label>Năm sản xuất: </label><span>{{ caritem.car_year }}</span></div>
            {% if caritem.car_status %}
              <div class="car-item car-status"><label>Trạng thái: </label><span>{{ caritem.car_status }}</span></div>
            {% else %}
              <div class="car-item car-status"><label>Trạng thái: </label><span>Liên hệ</span></div>
            {% endif %}
            <div class="car-item car-guarantee"><label>Bảo hành: </label><span>{{ caritem.car_guarantee }}</span></div>
            <div class="car-item car-color"><label>Màu xe: </label><span>{{ caritem.car_color }}</span></div>
            <div class="car-item car-give"><label>Giao xe: </label><span>{{ caritem.car_give }}</span></div>
            <div class="car-item car-ins"><label>Hỗ trợ trả góp: </label><span>{{ caritem.car_ins }}</span></div>
          {% endfor %}
        {% else %}
          <div class="car-item car-year"><label>Năm sản xuất: </label><span>Đang cập nhật</span></div>
          <div class="car-item car-status"><label>Trạng thái: </label><span>Đang cập nhật</span></div>
          <div class="car-item car-guarantee"><label>Bảo hành: </label><span>Đang cập nhật</span></div>
          <div class="car-item car-color"><label>Màu xe: </label><span>Đang cập nhật</span></div>
          <div class="car-item car-give"><label>Giao xe: </label><span>Đang cập nhật</span></div>
          <div class="car-item car-ins"><label>Hỗ trợ trả góp: </label><span>Đang cập nhật</span></div>
        {% endif %}
      </div>
    </div>

    <h3 class="related-title">Sản Phẩm liên quan</h3>
    {% for post in related('catcar') %}
      <h4><a href="{{post.link}}">{{post.title}}</a></h4>
      <p>{{post.content|excerpt(30)}}</p>
    {% endfor %}
  </div>
{% endblock %}