{% block content %}
  <div class="post single-post-{{ post.post_type }} clearfix">
    <div class="post-car-gallery">
      <div class="main-slick">
        {% for image in post.get_field('car_gallery') %}
          <div class="mainslick-item">
            <a class="car-colorbox" href="{{ TimberImage(image) }}"><img src="{{ TimberImage(image) }}" /></a>
          </div>
        {% endfor %}
      </div>
      <div class="sub-slick">
        {% for image in post.get_field('car_gallery') %}
          <div class="subslick-item">
            <div style="background-image: url('{{ TimberImage(image) }}');" class="item-inner">
              <img src="{{ TimberImage(image) }}" />
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="post-car-header">
      <h3 class="car-title"><a href="{{post.link}}">{{ post.title }}</a></h3>
      {% if post.car_price %}
        <div class="car-price">
          <label>Giá: </label><span class="car-price-total">{{ post.car_price }}</span> <span class="car-price-currency">{{ currency_choices }}</span>
        </div>
      {% else %}
        <div class="car-price"><label>Giá: </label><span style="color: red;">Liên hệ</span></div>
      {% endif %}
      {% if post.car_contact %}
        <div class="car-contact">
          <label>Liên hệ: </label>
          <div class="car-contact-inner">
            <div class="car-name">{{ post.car_contact }}</div>
            <div class="car-phone">{{ post.car_phone }}</div>
          </div>
        </div>
      {% endif %}
      {% if post.get_field('car_logo') %}
        <div class="car-logo">
          <img src="{{ post.get_field('car_logo') }}" />
        </div>
      {% endif %}
    </div>
    <div class="post-car-info">
      <h3 class="post-car-info--title">Mô tả sản phẩm</h3>
      <div class="post-car-info--content">
        {% if post.get_field('car_info') %}
          {% for item in carinfo %}
            <div class="car-item {{ item.name }}">
              <label>{{ item.label }}: </label><span>{{ carinfo_value[item.name] }}</span>
            </div>
          {% endfor %}

        {% endif %}
      </div>
    </div>

    {% if related('catcar') %}
    <h3 class="related-title">Sản Phẩm liên quan</h3>
    <div class="block-cat">
      {% for post in related('catcar', 4) %}
        <div class="post post-{{ post.post_type }}">
        <div class="post-inner">
          <div class="car-image">
            {% for image in post.get_field('car_gallery') %}
              <div style="background-image: url('{{ TimberImage(image) }}');" class="slider-item">
                <a href="{{post.link}}"><img src="{{ TimberImage(image) }}" /></a>
              </div>
            {% endfor %}
          </div>
          <div class="car-content">
            <h3 class="car-title"><a href="{{post.link}}">{{ post.title }}</a></h3>
            {% if post.get_field('car_info') %}
              {% for caritem in post.get_field('car_info') %}
                {% if caritem.car_status %}
                  <div class="car-status"><label>Trạng thái: </label>{{ caritem.car_status }}</div>
                {% else %}
                  <div class="car-status"><label>Trạng thái: </label>Liên hệ</div>
                {% endif %}
              {% endfor %}
            {% else %}
              <div class="car-status"><label>Trạng thái: </label>Liên hệ</div>
            {% endif %}
            {% if post.car_price %}
              <div class="car-price"><label>Giá: </label>{{ post.car_price }} {{ post.car_currency }}</div>
            {% else %}
              <div class="car-price"><label>Giá: </label>Liên hệ</div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}
