{% block content %}
  <h2 class="post-detail-title">{{ post.title }}</h2>
  <p class="blog-author">
    <span>Đăng bởi</span><a href="{{post.author.path}}"> {{ post.author.name }} </a> - {{ post.post_date|date}}
  </p>
  
  <div class="post-picture">
    <img src="{{post.thumbnail.src}}" class="feature" />
  </div>

  {% if post.terms('category') %}
  <div class="category">
    <label>Chuyên mục:</label>
    <ul class="cat-list">
    {% for term in post.terms('category') %}
      <li><a href="{{term.link}}">{{term.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  <div class="post-content">
    {{ post.content }}  
  </div>

  {% if post.terms('tags') %}
  <div class="tags">
    <label>Tags:</label>
    <ul class="tag-list">
    {% for term in post.terms('tags') %}
      <li><a href="{{term.link}}">{{term.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if related('category') %}
    <h3 class="related-title">Bài viết cùng chuyên mục</h3>
    <ul class="post-related">
      {% for post in related('category') %}
        <li><a href="{{post.link}}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% include 'comments.twig' %}
  {{ function('comment_form') }}
{% endblock %}