{% if post.comments %}
  <div id="comment">
    {% if post.comment_count > 1 %}
    <h3 class="comment-title">Comments:</h3>
    {% elseif post.comment_count > 0 %}
    <h3 class="comment-title">Comment:</h3>
    {% endif %}
    {% for comment in post.comments %}
      <div class="comment comment-{{comment.ID}} comment-order-{{loop.index}}">
        <div class="comment-author-picture"><img src="{{comment.author.avatar}}" ></div>
        <div class="comment-content">
          <p>{{comment.author.name}} nói:</p>
          <p>{{comment.content}}</p>  
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}